<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Remote Services</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://akrgis.nps.gov/observer/maps/maplist.json</string>
			<key>Key</key>
			<string>url_for_maps</string>
			<key>Title</key>
			<string>Maps</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://akrgis.nps.gov/observer/protocols/list.json</string>
			<key>Key</key>
			<string>url_for_protocols</string>
			<key>Title</key>
			<string>Protocols</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>https://inpniscvfemp29.nps.doi.net:8443/sync</string>
			<key>Key</key>
			<string>url_for_survey_upload</string>
			<key>Title</key>
			<string>Survey Upload</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Units of Measure</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>9093</integer>
			<key>Key</key>
			<string>uom_distance_measure</string>
			<key>Title</key>
			<string>Distance</string>
			<key>Titles</key>
			<array>
				<string>Meters</string>
				<string>Kilometers</string>
				<string>Feet</string>
				<string>Yards</string>
				<string>Miles</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>9001</integer>
				<integer>9036</integer>
				<integer>9002</integer>
				<integer>109001</integer>
				<integer>9093</integer>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Copyright © 2017 National Park Service</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.1.1 (766)</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>License</string>
			<key>Title</key>
			<string>License Agreement</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
