<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Remote Services</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>http://akrgis.nps.gov/observer/maps/maplist.json</string>
			<key>Key</key>
			<string>url_for_maps</string>
			<key>Title</key>
			<string>Maps</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>http://akrgis.nps.gov/observer/protocols/list.json</string>
			<key>Key</key>
			<string>url_for_protocols</string>
			<key>Title</key>
			<string>Protocols</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Units of Measure</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>9001</integer>
			<key>Key</key>
			<string>uom_distance_sighting</string>
			<key>Title</key>
			<string>Distance (Sighting)</string>
			<key>Titles</key>
			<array>
				<string>Meters</string>
				<string>Feet</string>
				<string>Yards</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>9001</integer>
				<integer>9002</integer>
				<integer>109001</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>9093</integer>
			<key>Key</key>
			<string>uom_distance_measure</string>
			<key>Title</key>
			<string>Distance (Measuring)</string>
			<key>Titles</key>
			<array>
				<string>Meters</string>
				<string>Kilometers</string>
				<string>Feet</string>
				<string>Yards</string>
				<string>Miles</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>9001</integer>
				<integer>9036</integer>
				<integer>9002</integer>
				<integer>109001</integer>
				<integer>9093</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Angle Distance Observations</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>angle_distance_angle_direction</string>
			<key>Title</key>
			<string>Angles Increase</string>
			<key>Titles</key>
			<array>
				<string>Clockwise</string>
				<string>Counter Clockwise</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>angle_distance_dead_ahead</string>
			<key>Title</key>
			<string>Dead Ahead</string>
			<key>Titles</key>
			<array>
				<string>0 Degrees</string>
				<string>90 Degrees</string>
				<string>180 Degrees</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>90</integer>
				<integer>180</integer>
			</array>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Copyright © 2014 National Park Service</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0.9.0 (367)</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
